<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovmei.apps.modules.demo.mapper.DemoEgovMapper">

	<resultMap id="demo" type="egovmei.apps.modules.demo.domain.Demo">
		<id property="demoIdx" column="demo_idx" />
		<result property="userName" column="user_name" />
		<result property="userId" column="user_id" />
		<result property="memo" column="memo" />
		<result property="seq" column="seq" />
	</resultMap>

	<select id="findAll" resultMap="demo">
		SELECT * FROM demo
	</select>

	<select id="findOne" resultMap="demo">
		SELECT * FROM demo
		WHERE demo_idx = #{demoIdx}
	</select>

	<insert id="save">
		INSERT INTO demo (
			demo_idx,
			user_name,
			user_id,
			memo,
			seq
		) VALUES (
			#{demo_idx},
			#{user_name},
			#{user_id},
			#{memo},
			#{seq}
		)
	</insert>

</mapper>