<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.saltframework.apps.modules.module.mapper.ModuleMapper">

	<resultMap id="module" type="org.saltframework.core.module.Module">
		<id property="moduleId" column="module_id" />
		<result property="groupId" column="groupId" />
		<result property="moduleName" column="module_name" />
		<result property="browserTitle" column="browser_title" />
		<result property="layoutId" column="layout_id" />
		<result property="skin" column="skin" />
		<result property="regDate" column="reg_date" />
	</resultMap>

	<select id="findAll" resultMap="module">
		SELECT * FROM module
	</select>

	<select id="findOne" resultMap="module">
		SELECT * FROM module WHERE module_id = #{moduleId}
	</select>

	<insert id="save">
		INSERT INTO module (
			group_id,
			module_id,
			module_name,
			browser_title,
			layout_id,
			skin,
			reg_date
		) VALUES (
			#{groupId},
			#{moduleId},
			#{moduleName},
			#{browserTitle},
			#{layoutId},
			#{skin},
			SYSDATE
		)
	</insert>

</mapper>